Привет, <b>{{ user.first_name }}</b>!
Я могу сообщать тебе информацию по состоянию на <i>текущую дату</i> уровень мощности эквивалентной дозы гамма-излучения, зафиксированного на <i>ближайшем</i> пункте наблюдения, нажми <b>{{ button.SEND_LOCATION.label }}</b>.

Чтобы узнать обстановку в сети радиационного мониторинга Беларуси, нажми <b>{{ button.MONITORING.label }}</b>.

Чтобы узнать сводку пунктов наблюдения в сети радиационного мониторинга, нажми <b>{{ button.POINTS.label }}</b> и выбери интересующий регион.