Бот-дозиметр информирует пользователя по состоянию на <i>текущую дату</i> о радиационной обстановке в Беларуси и об уровне мощности дозы (далее - МД) гамма-излучения, зафиксированного на <i>ближайшем</i> к пользователю пункте наблюдения сети радиационного мониторинга Министерства природных ресурсов и охраны окружающей среды Беларуси.

Измерение уровней МД гамма-излучения проводится ежедневно в 06:00 часов по Гринвичскому времени дозиметрами или другими средствами измерения со статической погрешностью не более 20%.

Для оценки воздействия на организм человека используется понятие <b>мощности эквивалентной дозы</b>, которая измеряется в Зивертах/час.

В быту можно считать, что 1 Зиверт = 100 Рентген.

<i>Безопасным</i> считается уровень радиации, приблизительно <b>до 0.5 мкЗв/ч</b>.